@page "/component"
<h3>ComponentTest</h3>
<div>
    @Index
</div>
<div>
    <button @onclick='@MovePrevious'>&lt;</button>
    <button @onclick='@MoveNext'>&gt;</button>
</div>
<div>
    <GamePad Index="@Index" OnClientGamepadUpdate="@ClientGamepadUpdate" ShowDebug="true" OnlyNotifyOnChange="true"></GamePad>
</div>

@code {
    [Parameter]
    public int Index { get; set; } = 0;

    private ClientGamePadUpdateArgs? ClientGamePadInfo { get; set; } = null;

    private void ClientGamepadUpdate(ClientGamePadUpdateArgs args) {
        ClientGamePadInfo = args;
        // Processes gamed events.
    }

    private void MovePrevious() {
        if (Index > 0) Index--;
    }
    private void MoveNext() {
        if (Index < ClientGamePadInfo?.CurrentGamePadCount - 1) Index++;
    }
}
